/*Typical Device breakpoints
----------------------------
Pequenas Telas: até 480px
Celular: 480px até 768px
Tablet:  769px até 1279x
Desktop: 1280px até 1400px
Grandes Telas: Acima de 1600px
*/
@charset "UTF-8";
    *{
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;}
    
    body{
        background-color: rgba(69, 184, 199, 0.788);
        position: relative;
        width: 100vw;
        height: 100vh;}
    
    #imagem{
        display: block;
        height: 250px;
        background: url(../cll.jpg);
        background-size: cover;
        background-position: center center;}
    
    main{
        width: 300px;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        background-color: white;
        border-radius: 10px;
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.521);}
    
    #login{
        display: block;
        padding: 20px;}
    
    #formulario{
        line-height: 1.5em;
        margin-bottom: 20px;}
    
    #formulario>h1{
        text-align: center;
        margin-bottom: 10px;}
    
    #formulario>p{
        text-align: justify;}
    
    
        form>p{
            margin: 5px;}

        .campo{
            margin: 5px 0px;
            width: 100%;
            height: 100%;
            background-color: rgba(69, 184, 199, 0.788);
            border-radius: 17px;
        }

        .campo label{
            display: none;
        }

        .campo span{
            height: 40px;
            width: 40px;
            padding: 1px 10px 0px 15px;
        }
        
        .campo input{
            text-align: center;
            height: 36px;
            width: calc(100% - 50px);
            border-radius: 13px;
            }
        
        #entar{
            width: 100%;
            background-color: rgb(18, 204, 126);
            border: none;
            padding: 10px;
            border-radius: 5px;
            color: white;
            font-weight: bold;}
        
        #entar:hover{
            background-color: rgb(58, 223, 154);
            text-decoration: underline;
            color: white;}
        
        #esqueci{
            width: 100%;
            border: 5px solid rgb(0, 255, 149);
            border: none;
            padding: 10px;
            border-radius: 5px;
            color: rgb(5, 177, 105);
            font-weight: bold;}
        
        #esqueci:hover{
            background-color: rgb(58, 223, 154);
            text-decoration: underline;
            color: white;}

@media screen and (min-width:769px) and (max-width:1279px){
    body{background-image: linear-gradient(rgb(19, 53, 58) ,rgba(69, 184, 199, 0.788));}

    main{width: 90vw;
        height: 60%;}

    #imagem{
        width: 30%;
        height: 100%;
        background: url(../tablet.jpg);
        float: left;
        background-size: cover;
        }

    #login{
        margin-top: 50px;
        width: 70%;
        float: right;} }

@media screen and (min-width:1280px){
    body{background-image: linear-gradient(rgb(19, 53, 58) ,rgba(69, 184, 199, 0.788));}

    main{width: 90vw;
        height: 60%;}

    #imagem{
        width: 40%;
        height: 100%;
        background: url(../pc.jpg);
        float: right;
        background-size: cover;
        background-position: center center;}

    #login{
        margin-top: 4%;
        display: block;
        width: 50%;
        float: left;}

    #iemail{
        }

    #isenha{
        }
}
            